@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Enter a New Category</h2>
<form method="post" >
    <input type="text" placeholder="Category" name="Name" class="form-control"/>
</form>
<button  class="btn btn-info mt-2" type="submit">Add</button>


